body{
    background-color: rgb(233, 233, 233)!important;
}

.navbar-brand img{
    width: 20%;
    margin-left: .8rem;
}

.imgComment{
    height: 10%;
    width: 10%;
}

input, textarea{
    background-color: rgb(39, 43, 48)!important;
}

.custom-file-input{
    background-color: rgb(39, 43, 48)!important;
}